.row
  .col-sm-9#content
    .row
      .col-sm-6
        .well
          %h2 New Customer
          %p
            %strong Register Account
          %p By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
          = link_to "Continue", new_user_registration_path, class: "btn btn-primary"
      .col-sm-6
        .well
          %h2 Login to your account
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.input :email, autofocus: true, input_html: {class: "form-control"}
            .form-group
              = f.input :password, autocomplete: "off", input_html: {class: "form-control"}
            = f.submit "Log in", class: "btn btn-primary"
          = render "admins/shared/links"
  %column#column-right.col-sm-3.hidden-xs
    .list-group
      %a.list-group-item{:href => "#"} Login
      %a.list-group-item{:href => "#"} Register
      %a.list-group-item{:href => "#"} Forgotten Password
      %a.list-group-item{:href => "#"} My Account
      %a.list-group-item{:href => "#"} Address Books
      %a.list-group-item{:href => "#"} Wish List
      %a.list-group-item{:href => "#"} Order History
      %a.list-group-item{:href => "#"} Downloads
      %a.list-group-item{:href => "#"} Reward Points
      %a.list-group-item{:href => "#"} Returns
      %a.list-group-item{:href => "#"} Transactions
      %a.list-group-item{:href => "#"} Newsletter
      %a.list-group-item{:href => "#"} Recurring payments
