.row
  .col-sm-12
    .col-sm-9
      - if @user_orders.present?
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %td.text-center Product Id
                %td.text-center Order Date
                %td.text-center Amount
                %td.text-center Status
                %td.text-center Action
            - @user_orders.each do |order|
              %tbody
                %tr
                  %td.text-center 
                    = order.id
                  %td.text-center
                    = order.created_at.to_date.strftime('%d-%m-%Y')
                  %td.text-center
                    = order.total_amount
                  %td.text-center
                    = order.status
                  %td.text-center
                    = link_to 'show'
    %column#column-right.col-sm-3.hidden-xs
      .list-group
        %a.list-group-item{:input => "#"} Register
        %a.list-group-item{:input => "#"} Forgotten Password
        %a.list-group-item{:input => "#"} My Account
        %a.list-group-item{:input => "#"} Address Books
        %a.list-group-item{:input => "#"} Wish List
        %a.list-group-item{:input => "#"} Order History
        %a.list-group-item{:input => "#"} Returns
.row
  .col-sm-6.text-left
  .col-sm-6.text-right
    = will_paginate @user_orders