#container
  #content
    .container-fluid
      .row
        .col-sm-offset-4.col-sm-4
          .panel.panel-default
            .panel-heading
              %h1.panel-title
                %i.fa.fa-lock Please enter you login details.
            .panel-body
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  %label Username
                  .input-group
                    %span.input-group-addon
                      %i.fa.fa-user
                    = f.input :email, autofocus: true, label: false, input_html: { class: 'form-control' }
                .form-group
                  %label Password
                  .input-group
                    %span.input-group-addon
                      %i.fa.fa-lock
                    = f.input :password, autocomplete: "off", label: false, input_html: { class: 'form-control' }
                .text-right
                  = f.submit "Log in", class: "btn btn-primary"
              = render "admins/shared/links"