- if @addresses.present?
  -@addresses.each do |address|
    .col-sm-3
      .panel.panel-primary
        .panel-heading
          = link_to edit_address_path(address), class: 'close' do
            %i.glyphicon.glyphicon-edit
          %h4 Address
        .panel-body
          %p
            %b
              = "#{current_user.fname} #{current_user.lname}"
          %p
            = "#{address.address_1} #{address.address_2}"
            %br
            = "#{address.city}"
            %br
            = "#{address.state}"
            %br
            = "#{address.country}"
            %br
            = "#{address.zipcode}"
= link_to 'Add New Address', new_address_path(:order_id=>params[:id]), class: 'btn btn-primary pull-left'