.row
  .col-sm-12#content
    %h3 Featured
    .row.product-layout
      -@products.each do |product|
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .product-thumb.transition
            - product.images.each do |img|
              -if img.main
                .image
                  = link_to image_tag("#{img.avatar.url}", height: 100, width: 200), product_path(product)
            .caption
              %h4
                = product.name
              %p
                = product.description
              %p.price
                Price : Rs. 
                = product.price
            .button-group
              %button
                %i.fa.fa-shopping-cart
                %span.hidden-xs.hidden-sm.hidden-md
                  = link_to 'ADD TO CART', add_product_cart_item_path(product), method: :post
              %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('43');", :title => "", :type => "button"}
                %i.fa.fa-heart
              %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('43');", :title => "", :type => "button"}
                %i.fa.fa-exchange
.row
  .col-sm-6.text-left
  .col-sm-6.text-right
    = will_paginate @products
      