.row
  .col-sm-3.hidden-xs#column-left
  .col-sm-9#content
    %h2
    -if @products.present?
      %p
      .row
        -@products.each do |product|
          .product-layout.product-grid.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .product-thumb
              - product.images.each do |img|
                -if img.main
                  .image
                    = link_to image_tag("#{img.avatar.url}", height: 120, width: 200), product_path(product)
              .div
                .caption
                  %h4
                    = link_to product.name, product_path(product)
                  %p
                    = product.description
                  %p.price
                    %span.price-new
                      Price : Rs. 
                      = product.price
                .button-group
                  %button
                    %span.hidden-xs.hidden-sm.hidden-md
                      = link_to 'ADD TO CART', add_product_cart_item_path(product), remote: true, method: :post, class: 'fa fa-shopping-cart'
                  %button
                    = link_to '', wish_lists_path(:product=>product.id), remote: true, method: :post, class: "fa fa-heart"
      .row
        .col-sm-6.text-left
        .col-sm-6.text-right
          = will_paginate @products
    - else
      %p There are no products to list in this category.
      .buttons
        .pull-right
          = link_to 'Continue Shopping', '/', class: 'btn btn-primary'