.row
  .col-sm-12#content
    .row
      .col-sm-8
        %ul.thumbnails
          -@product.images.each do |img|
            -if img.main
              %li
                .thumbnail
                  = link_to image_tag("#{img.avatar.url}", height: 100, width: 200), product_path(@product)
            -if img.main
              %li.image-additional
                .thumbnail
                  = link_to image_tag("#{img.avatar.url}"), product_path(@product)
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-description"} Description
          %li
            %a{"data-toggle" => "tab", :href => "#tab-secification"} Specification
        .tab-content
          .tab-pane.active#tab-description
            %div
              %p
                %b 
                  = @product.description
          .tab-pane#tab-secification
            %div
              %table.table.table-bordered
                %thead
                  %tr
                    %td
                      %b Attribute
                    %td
                      %b Value
                - @product.product_attributes.each do |attribute|
                  %tbody
                    %tr
                      %td
                        %b
                          = attribute.name
                      - attribute.attribute_values.each do |attribute_value|
                        %td
                          = attribute_value.value
      .col-sm-4
        .btn-group
          %button.btn.btn-default
            = link_to '', wish_lists_path(@product), method: :post, class: "fa fa-heart"
        %h1 
          = @product.name
        %table.table
          %tbody#wishlist-row
            %tr
              %td Product Code
              %td.text-right
                %b
                  = @product.id
            %tr
              %td Availability
              -if @product.status
                %td.text-right
                  %b.true
                    In Stock
              -else
                %td.text-right
                  %b.false
                    Out of Stock
            %tr
              %td Price
              %td.text-right
                %h3
                  = @product.price
        #product
          .form-group
            %br
            #button-cart
              = link_to 'ADD TO CART', add_product_cart_item_path(@product), method: :post, class: 'btn btn-primary btn-lg btn-block'
      