.row
  .col-sm-12#content
    .row
      .col-sm-8
        %ul.thumbnails
          -@product.images.each do |img|
            -if img.main
              %li
                .thumbnail
                  = link_to image_tag("#{img.avatar.url}", height: 100, width: 200), product_path(@product)
            -if img.main
              %li.image-additional
                .thumbnail
                  = link_to image_tag("#{img.avatar.url}"), product_path(@product)
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :input => "#tab-description"} Description
          %li
            %a{"data-toggle" => "tab", :input => "#tab-specification"} Specification
          %li
            %a{"data-toggle" => "tab", :input => "#tab-review"} Reviews (0)
      .col-sm-4
        .btn-group
          %button.btn.btn-default{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :title => "", :type => "button"}
            %i.fa.fa-heart
          %button.btn.btn-default{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :title => "", :type => "button"}
            %i.fa.fa-exchange
        %h1 
          = @product.name
        %ul.list-unstyled
          %li
            Brand:
            %a{:input => "http://demo.opencart.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=8"} Apple
          %li 
            Product Code: 
            = @product.id
          %li Reward Points: 600
          %li Availability: Out Of Stock
        %ul.list-unstyled
          %li
            %h2 
              = @product.price
        #product
          .form-group
            %label.control-label{:for => "input-quantity"} Qty
            %input#input-quantity.form-control{:name => "quantity", :size => "2", :type => "text", :value => "1"}
              %input{:name => "product_id", :type => "hidden", :value => "43"}
                %br
                  #button-cart
                    = link_to 'ADD TO CART', add_product_cart_item_path(@product), method: :post, class: 'btn btn-primary btn-lg btn-block'
        .rating
          %p
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %a{:input => "", :onclick => "$('a[input=\\'#tab-review\\']').trigger('click'); return false;"} 0 reviews
            \/
            %a{:input => "", :onclick => "$('a[input=\\'#tab-review\\']').trigger('click'); return false;"} Write a review
          %hr
      