!!!
%html
  %head
    %title ShoppingCart
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "https://js.stripe.com/v1/", 'application'
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY']
  %body.account-login
    %nav#top
      .container
        .pull-left   
        #top-links.nav.pull-right
          %ul.list-inline
            %li
              %a{input: "#{}"}
                %i.fa.fa-phone
                %span.hidden-xs.hidden-sm.hidden-md 123456789
            %li.dropdown
              - unless user_signed_in?
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "My Account"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md My Account
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "Register", new_user_registration_path
                  %li
                    = link_to "Login", new_user_session_path
              - else
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "#{current_user.fname} #{current_user.lname}"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md 
                    = "#{current_user.fname} #{current_user.lname}"
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "My Profile"
                  %li
                    = link_to "Orders History", user_orders_path
                  %li
                    = link_to 'Sign Out', destroy_user_session_path, method: :delete
            %li
              %i.fa.fa-heart
              %span.hidden-xs.hidden-sm.hidden-md
                = link_to "Wish List (#{@list_count})", wish_lists_path, id: 'wish-list'
                
            - if @cart_products.present?
              %li
                %i.fa.fa-shopping-cart
                %span.hidden-xs.hidden-sm.hidden-md
                  = link_to "Shopping Cart", cart_items_path
              %li
                %i.fa.fa-share
                %span.hidden-xs.hidden-sm.hidden-md
                  = link_to "Checkout", cart_items_path
    %header
      .container
        .row
          .col-sm-4
            #logo
              = link_to image_tag("logo.png"), '/'
          .col-sm-5
            = form_tag(search_product_products_path, method: :get) do
              #search.input-group
                = search_field_tag 'search', '', class: 'form-control input-lg', autocomplete: :off
                .input-group-btn
                  = submit_tag 'Search', class: 'btn btn-default btn-lg', id: 'button-search'
          .col-sm-3#cart-list
            = render 'layouts/cart_product_list'
        .row
          .col-sm-12
            %nav#menu.navbar
              .navbar-header
                %span#category.visible-xs Categories
                %button.btn.btn-navbar.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                  %i.fa.fa-bars
              .collapse.navbar-collapse.navbar-ex1-collapse
                %ul.nav.navbar-nav
                  - @categories.each do |category|
                    %li.dropdown
                      = link_to "#{category.name}", category_path(category), class: "dropdown-toggle"
                      -if category.subcategories.present?
                        .dropdown-menu
                          .dropdown-inner
                            %ul.list-unstyled
                              - category.subcategories.each do |subcat|
                                %li
                                  = link_to subcat.name, category_path(subcat)
    .container
      .alert.notice
        = notice
        = alert
      = yield
    %footer
      .container
        .row
          .col-sm-3
            %h5 Information
            %ul.list-unstyled
              %li
                %a{input: "#"} About Us
              %li
                %a{input: "#"} Delivery Information
              %li
                %a{input: "#"} Privacy Policy
              %li
                %a{input: "#"} Terms &amp; Conditions
          .col-sm-3
            %h5 Customer Service
            %ul.list-unstyled
              %li
                %a{input: "#"} Contact Us
              %li
                %a{input: "#"} Returns
              %li
                %a{input: "#"} Site Map
          .col-sm-3
            %h5 Extras
            %ul.list-unstyled
              %li
                %a{input: "#"} Brands
              %li
                %a{input: "#"} Gift Vouchers
              %li
                %a{input: "#"} Affiliates
              %li
                %a{input: "#"} Specials
          .col-sm-3
            %h5 My Account
            %ul.list-unstyled
              %li
                %a{input: "#"} My Account
              %li
                %a{input: "#"} Order History
              %li
                %a{input: "#"} Wish List
              %li
                %a{input: "#"} Newsletter
        %hr
          %p
            Powered By
            %a{input: "#"} OpenCart
            %br Your Store © 2016


