!!!
%html
  %head
    %title ShoppingCart
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.account-login
    %nav#top
      .container
        .pull-left
          
        #top-links.nav.pull-right
          %ul.list-inline
            %li
              %a{href: "#{}"}
                %i.fa.fa-phone
              %span.hidden-xs.hidden-sm.hidden-md 123456789
            %li.dropdown
              - unless user_signed_in?
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "My Account"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md My Account
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "Register", new_user_registration_path
                  %li
                    = link_to "Login", new_user_session_path
              - else
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "#{current_user.fname} #{current_user.lname}"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md 
                    = "#{current_user.fname} #{current_user.lname}"
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "My Profile"
                  %li
                    = link_to "Orders History"
                  %li
                    = link_to "Transactions"
                  %li
                    = link_to 'Sign Out', destroy_user_session_path, method: :delete
            %li
              %a#wishlist-total{href: "#", title: "Wish List (0)"}
                %i.fa.fa-heart
                %span.hidden-xs.hidden-sm.hidden-md Wish List (0)
            %li
              %a{href: "#", title: "Shopping Cart"}
                %i.fa.fa-shopping-cart
                %span.hidden-xs.hidden-sm.hidden-md Shopping Cart
            %li
              %a{href: "#", title: "Checkout"}
                %i.fa.fa-share
                %span.hidden-xs.hidden-sm.hidden-md Checkout
    %header
      .container
        .row
          .col-sm-4
            #logo
              = link_to image_tag("logo.png"), dashboards_path
          .col-sm-5
            #search.input-group
              %input.form-control.input-lg{name: "search", placeholder: "Search", type: "text", value: ""}
                %span.input-group-btn
                  %button.btn.btn-default.btn-lg{type: "button"}
                    %i.fa.fa-search
          .col-sm-3
            #cart.btn-group.btn-block
              %button.btn.btn-inverse.btn-block.btn-lg.dropdown-toggle{"data-loading-text" => "Loading...", "data-toggle" => "dropdown", type: "button"}
                %i.fa.fa-shopping-cart
                %span#cart-total 0 item(s) - Rs. 0.00
              %ul.dropdown-menu.pull-right
                %li
                  %p.text-center Your shopping cart is empty!
    .container
      %nav#menu.navbar
        .navbar-header
          %span#category.visible-xs Categories
          %button.btn.btn-navbar.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            - @categories.each do |category|
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown"} 
                  = category.name
                .dropdown-menu
                  .dropdown-inner
                    %ul.list-unstyled
                      - category.subcategories.each do |subcat|
                        %li
                          = link_to subcat.name, category_path(subcat)
                  .see-all
                    = link_to category.name, category_path(category)
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
    %footer
      .container
        .row
          .col-sm-3
            %h5 Information
            %ul.list-unstyled
              %li
                %a{href: "#"} About Us
              %li
                %a{href: "#"} Delivery Information
              %li
                %a{href: "#"} Privacy Policy
              %li
                %a{href: "#"} Terms &amp; Conditions
          .col-sm-3
            %h5 Customer Service
            %ul.list-unstyled
              %li
                %a{href: "#"} Contact Us
              %li
                %a{href: "#"} Returns
              %li
                %a{href: "#"} Site Map
          .col-sm-3
            %h5 Extras
            %ul.list-unstyled
              %li
                %a{href: "#"} Brands
              %li
                %a{href: "#"} Gift Vouchers
              %li
                %a{href: "#"} Affiliates
              %li
                %a{href: "#"} Specials
          .col-sm-3
            %h5 My Account
            %ul.list-unstyled
              %li
                %a{href: "#"} My Account
              %li
                %a{href: "#"} Order History
              %li
                %a{href: "#"} Wish List
              %li
                %a{href: "#"} Newsletter
        %hr
          %p
            Powered By
            %a{href: "#"} OpenCart
            %br Your Store © 2016


