!!!
%html
  %head
    %title ShoppingCart
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.account-login
    %nav#top
      .container
        .pull-left
          
        #top-links.nav.pull-right
          %ul.list-inline
            %li
              %a{input: "#{}"}
                %i.fa.fa-phone
              %span.hidden-xs.hidden-sm.hidden-md 123456789
            %li.dropdown
              - unless user_signed_in?
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "My Account"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md My Account
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "Register", new_user_registration_path
                  %li
                    = link_to "Login", new_user_session_path
              - else
                %a.dropdown-toggle{"data-toggle" => "dropdown", title: "#{current_user.fname} #{current_user.lname}"}
                  %i.fa.fa-user
                  %span.hidden-xs.hidden-sm.hidden-md 
                    = "#{current_user.fname} #{current_user.lname}"
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to "My Profile"
                  %li
                    = link_to "Orders History"
                  %li
                    = link_to "Transactions"
                  %li
                    = link_to 'Sign Out', destroy_user_session_path, method: :delete
            %li
              %i.fa.fa-heart
              %span.hidden-xs.hidden-sm.hidden-md Wish List (0)
            %li
              %i.fa.fa-shopping-cart
              %span.hidden-xs.hidden-sm.hidden-md
                = link_to "Shopping Cart", cart_items_path
            %li
              %i.fa.fa-share
              %span.hidden-xs.hidden-sm.hidden-md
                = link_to "Checkout", cart_items_path
    %header
      .container
        .row
          .col-sm-4
            #logo
              = link_to image_tag("logo.png"), dashboards_path
          .col-sm-5
            #search.input-group
              %input.form-control.input-lg{name: "search", placeholder: "Search", type: "text", value: ""}
                %span.input-group-btn
                  %button.btn.btn-default.btn-lg{type: "button"}
                    %i.fa.fa-search
          .col-sm-3
            #cart.btn-group.btn-block
              %button.btn.btn-inverse.btn-block.btn-lg.dropdown-toggle{"data-loading-text" => "Loading...", "data-toggle" => "dropdown", type: "button"}
                %i.fa.fa-shopping-cart
                %span#cart-total 
                  = "#{item_counts} item(s) - Rs.#{@total_amount}"
              %ul.dropdown-menu.pull-right
                - unless @cart_products.present?
                  %li
                    %p.text-center Your shopping cart is empty!
                - else
                  %li
                    %table.table.table-striped
                      %tbody
                      -@cart_products.each do |product|
                        %tr
                          %td.text-center
                            = link_to image_tag("logo.png", height: 100, width: 200), product_path(product)
                          %td.text-left
                            = link_to product.name, product_path(product)
                          %td.text-right
                            x 
                            = product.quantity
                          %td.text-right
                            = product.amount
                          %td.text-center
                            %button.btn.btn-danger.btn-xs
                              %i.fa.fa-times
                  %li
                    %div
                      %table.table.table-bordered
                        %tbody
                          %tr
                            %td.text-right
                              %strong Sub-Total
                            %td.text-right
                              = @total_amount
                          %tr
                            %td.text-right
                              %strong Total
                            %td.text-right
                              = @total_amount
                      %p.text-right
                        %strong
                          %a.fa.fa-shopping-cart
                            = link_to "Shopping Cart  ", cart_items_path
                        &nbsp;&nbsp;&nbsp;
                        %strong
                          %a.fa.fa-share
                            = link_to "Checkout", cart_items_path
    .container
      %nav#menu.navbar
        .navbar-header
          %span#category.visible-xs Categories
          %button.btn.btn-navbar.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            - @categories.each do |category|
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown"} 
                  = category.name
                .dropdown-menu
                  .dropdown-inner
                    %ul.list-unstyled
                      - category.subcategories.each do |subcat|
                        %li
                          = link_to subcat.name, category_path(subcat)
                  .see-all
                    = link_to category.name, category_path(category)
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
    %footer
      .container
        .row
          .col-sm-3
            %h5 Information
            %ul.list-unstyled
              %li
                %a{input: "#"} About Us
              %li
                %a{input: "#"} Delivery Information
              %li
                %a{input: "#"} Privacy Policy
              %li
                %a{input: "#"} Terms &amp; Conditions
          .col-sm-3
            %h5 Customer Service
            %ul.list-unstyled
              %li
                %a{input: "#"} Contact Us
              %li
                %a{input: "#"} Returns
              %li
                %a{input: "#"} Site Map
          .col-sm-3
            %h5 Extras
            %ul.list-unstyled
              %li
                %a{input: "#"} Brands
              %li
                %a{input: "#"} Gift Vouchers
              %li
                %a{input: "#"} Affiliates
              %li
                %a{input: "#"} Specials
          .col-sm-3
            %h5 My Account
            %ul.list-unstyled
              %li
                %a{input: "#"} My Account
              %li
                %a{input: "#"} Order History
              %li
                %a{input: "#"} Wish List
              %li
                %a{input: "#"} Newsletter
        %hr
          %p
            Powered By
            %a{input: "#"} OpenCart
            %br Your Store © 2016


